.table {
  width: 80%;
  margin: auto;
}
.table-input {
  border-radius: 4px;
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  left: -12px;
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
}
.table-input:hover {
  border-color: #4dc2f7;
}
.table-input:focus {
  outline: 1px;
  border-color: #4dc2f7;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.table-submit-btn {
  background-color: #30b7f5;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 4px 11px;
  font-size: 14px;
  position: relative;
  left: -12px;
}
.table-submit-btn:hover {
  background-color: #4dc2f7;
}
.table-submit-btn:active {
  background-color: #00a5f1;
}
.table-submit-btn:focus {
  outline: none;
}

/*Login*/
form{
    width: 300px;
    margin: auto;
    margin-top: 100px;
}
form input#login-password::placeholder{
    color: #cfcfcf;
}
form input#login-username::placeholder{
    color: #cfcfcf;
}

form button{
    width: 100%;
}
